<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Sign up form</title>
    </head>
    <body>

        <h1>2017-12-30 Come celebrate the project success with us</h1>

        <form action="#" th:action="@{/form}" method="POST">
            <fieldset>
                <legend>Sign up to the event using this form</legend>
                <p><label for="name">Name</label>: <input type="text" name="name" id="name"/></p>
                <p><label for="address">Address</label>: <input type="text" name="address" id="address"/></p>
                <p><input type="submit" value="Submit" /></p>
            </fieldset>
        </form>

        
        <!-- For convenience we hide the password list in /files/passwords.txt, don't tell anyone! -->
        <p><a href="files/events.txt">List coming events</a></p>
        <p th:if="${isAuthenticated == false}"><a href="/login">Login to manage site as administrator</a></p>
        <p th:if="${isAuthenticated == true}">Logged in as <strong th:text="${name}">name</strong>, click <a href="/list">here</a> to list who has signed up</p>
    </body>
</html>
