<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Signups</title>
    </head>
    <body>
        <h1>These people have signed up so far</h1>
        <form th:action="@{/list}" method="POST">
            <input type="text" name="name" />
            <input type="submit" value="Filter by name starting with" />
        </form>
        <ol>
            <li th:each="item: ${list}">
                <form action="#" th:action="@{/delete}" method="POST">
                    <strong th:text="${item.name}"></strong> (<span th:text="${item.address}"></span>)
                    <input name="name" type="hidden" th:value="${item.name}" />
                    <input type="submit" value="Delete" />
                </form>
            </li>
        </ol>
    </body>
</html>
